html, body {
  font: normal 16px/1.2 sans-serif;
  color: #222;
}
* { box-sizing: border-box; }
body {
  margin: .5em;
}
#top { position: absolute; top: 0; }
abbr { border-bottom: 1px dotted; }
input[type="text"], textarea {
  margin: .25em 0;
  padding: .5em;
  border: 1px solid #bfbfbf;
  width: 90%;
  max-width: 400px;
  font: normal .8em/1.4 sans-serif;
}
label.check {
  display: inline-block;
  padding-left: 15px;
  text-indent: -15px;
}
.check input {
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}
.error input[type="text"], .error textarea {
  border-color: #c00;
}
.error-message {
  background: #c00;
  color: #fff;
  margin: .25em 0 -.25em 0;
  padding: .375em;
  width: 90%;
  max-width: 400px;
  display: none;
}
.error .error-message {
  display: block;
}
h1 {
  font-size: 1.4em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: .9em;
  margin-bottom: 0;
}
label, button {
  cursor: pointer;
}
q {
  quotes: none;
  color: #789922;
}
.encrypted .reply-text, .encrypted .reply-file {
  display: none;
}
.info {
  color: #555;
  font-size: 0.9em;
  margin-bottom: .3em;
}
.info strong {
  color: #222;
}
.reply-file {
  max-width: 250px;
  float: left;
  margin: .25em 1em 1em 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reply-file.expand {
  max-width: 100%;
  max-height: 100%;
  margin: .25em 0 1em;
  float: none;
}
.reply-file img {
  margin-top: .1em;
  max-width: 100%;
  max-height: 250px;
}
.reply-file.expand img {
  max-height: 100%;
}
.reply-text {
  white-space: pre-line;
  max-width: 90%;
  overflow: hidden;
}
.reply-text a {
  color: #00c;
}
.reply-text a:hover {
  color: #c00;
}
.badge {
  color: #000;
  padding: 3px;
  border-radius: 4px;
  font-size: 0.9em;
  font-family: monospace;
  opacity: 0.6;
}
.file-tools:hover .badge,
.badge:hover {
  opacity: 1;
}
.badge.text-white {
  color: #fff;
}
.small, .meta, .badge, figcaption {
  font-size: 0.7em;
}
.meta, .meta a, figcaption {
  color: #888;
}
.file-tools a:link {
  color: inherit;
}
.file-tools a:link:hover {
  color: #00c;
}
.file-tools .js-file-decrypt {
  display: none;
}
.file-tools.show-decrypt .js-file-decrypt {
  display: inline;
}
a.clear {
  color: inherit;
}
.center {
  text-align: center;
}
.threadinfo {
  margin-bottom: 1em;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info a, nav a {
  text-decoration: none;
  color: inherit;
}
.info a:hover, nav a:hover {
  color: #00c;
}
article {
  border-bottom: 1px solid #888;
  padding-top: .6em;
  margin-bottom: .6em;
}
article:after {
  display: table;
  clear: both;
  content: '';
}
article:first-of-type {
  border-top: 1px solid #888;
}
article:target {
  background: #fcf0f0;
}
nav, .thread-info {
  font-size: 0.8em;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li, nav :after, nav :before {
  float: left;
}
nav ul:before {
  content: '[';
  margin: 0 2px 0 0;
}
nav ul:after {
  content: ']';
  margin: 0 0 0 2px;
}
nav li:after {
  content: '/';
  margin: 0 3px;
}
nav li:first-child:after {
  content: '';
  margin: 0;
}
footer .meta {
  margin-top: 1em;
}
#settings {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 0.5em 1em;
  display: none;
}
#settings.visible {
  display: block;
}
@media only screen and (min-width: 641px) {
  body {
    margin: 2em;
  }
  .small, .meta, .badge {
    font-size: 0.9em;
  }
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1em;
  }
  #settings {
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    width: 600px;
    height: 400px;
    margin: -200px 0 0 -300px;
    border: 1px solid #c0c0c0;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.1);
    padding: 1.2em 2em;
  }
}
