<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}pgpchan{% endblock %}</title>
  {% if RECAPTCHA %}<script src="https://www.google.com/recaptcha/api.js" async defer></script>{% endif %}
  <style>
    abbr { border-bottom: 1px dotted; }
  </style>
</head>
<body>

<header>
  [
  {% for board in BOARDS.values() %}
    <a href="{{ url_for('board', board_id=board.id) }}" title="{{ board.title }}">{{ board.id }}</a>
    {% if not loop.last %}/{% endif %}
  {% endfor %}
  ]
</header>

<h1>{{ self.title() }}</h1>

{% block content %}{% endblock %}

<footer>
  <hr>
  [
  {% for board in BOARDS.values() %}
    <a href="{{ url_for('board', board_id=board.id) }}" title="{{ board.title }}">{{ board.id }}</a>
    {% if not loop.last %}/{% endif %}
  {% endfor %}
  ]
</footer>

</body>
</html>
