{% extends 'base.html' %}

{% block title %}/{{ board.id }}/ - {{ board.title }}{% endblock %}

{% block content %}
<h3>Threads</h3>

{% for thread in threads -%}
<article id="id{{ thread.id }}" class="js-verify"
  data-signature="{{ thread.data.signature }}"
  data-pubsign="{{ thread.data.pubsign }}"
  data-pubkey="{{ thread.data.pubkey }}">
  <div class="info">
    <time>{{ thread.date.strftime('%Y-%m-%d %H:%M:%S') }}</time>
    <span class="badge">{{ thread.data.pubsign[0:10] }}</span>
    <span class="postid">
      No. <a href="{{ url_for('thread', board_id=board.id, thread_id=thread.id) }}#id{{ thread.id }}#id{{ thread.id }}">
        {{- thread.id -}}
      </a>
    </span>
    [<a href="{{ url_for('thread', board_id=board.id, thread_id=thread.id) }}">Reply</a>]
  </div>
  {% if thread.subject %}
    <strong>{{ thread.subject }}</strong>
  {% endif %}
  <p class="reply-text">{{ thread.data.message }}</p>
  <span class="meta">{{ thread.reply_count }} Repl{% if thread.reply_count == 1 %}y{% else %}ies{% endif %}</span>
</article>
<hr>
{% endfor %}

{%- if page == 2 -%}
  <a href="{{ url_for('board', board_id=board.id) }}">Back</a>
{% endif %}
{%- if page > 2 -%}
  <a href="{{ url_for('board', board_id=board.id, page=page-1) }}">Back</a>
{% endif %}
{%- if page < MAX_PAGES -%}
  <a href="{{ url_for('board', board_id=board.id, page=page+1) }}">Next</a>
{%- endif %}

<form method="post" data-mode="thread">
  <h4>Sta<abbr>r</abbr>t new thread:</h4>
  <input type="text" name="subject" accesskey="r" tabindex="1" placeholder="Subject" maxlength="200"><br>
  <textarea id="form-text" rows="6" cols="40" tabindex="2" placeholder="Comment" required></textarea><br>
  {%- if RECAPTCHA -%}<div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_KEY }}"></div>{%- endif %}
  <button type="submit" accesskey="s" tabindex="3">New thread</button>
  <input type="hidden" name="data" id="form-data">
</form>
{% endblock %}
