{% extends 'base.html' %}

{% block title %}/{{ board.id }}/ - {{ board.title }}{% endblock %}

{% block meta %}{# Hide contents until script is ready. #}
<script>document.documentElement.className='not-ready2'</script>
<style>.not-ready{visibility:hidden}</style>

<meta name="description" content="/{{ board.id }}/ - {{ board.title }} - {{ board.description }}">
<meta name="robots" content="noarchive">
<link rel="canonical" href="{{ SITE_URL }}{{ url_for('board', board_id=board.id, page=page) }}">
{% endblock %}

{% block content %}

{% if board.subtitle %}<h3>{{ board.subtitle }}</h3>{% endif %}

{% include '_replies.html' %}

<p>
  Page {{ page }}
  {% if page == 2 -%}
    <a href="{{ url_for('board', board_id=board.id) }}">Back</a>
  {% endif %}
  {%- if page > 2 -%}
    <a href="{{ url_for('board', board_id=board.id, page=page-1) }}">Back</a>
  {% endif %}
  {%- if page < MAX_PAGES -%}
    <a href="{{ url_for('board', board_id=board.id, page=page+1) }}">Next</a>
  {%- endif %}
</p>

{% include '_form.html' %}

{% endblock %}
