{% extends 'base.html' %}

{% block title %}/{{ board.id }}/ - {{ board.title }} No.{{ thread_id }}{% endblock %}

{% block meta %}{# Hide contents until script is ready. #}
<script>document.documentElement.className='not-ready'</script>
<style>.not-ready{visibility:hidden}</style>
{{ super() }}

<meta name="robots" content="noarchive">
<link rel="canonical" href="{{ SITE_URL }}{{ url_for('thread', board_id=board.id, thread_id=thread_id) }}">
<meta id="meta-thread" name="thread-id" value="{{ board.id }}-{{ thread_id }}">
<meta id="meta-start" name="replies-start" value="{{ thread_replies }}">
{% endblock %}

{% block content %}
<h3>Replies</h3>

<div class="row threadinfo">
  <nav>
    [<a href="{{ url_for('board', board_id=board.id) }}">Return</a>]
    [<a href="#bottom">Bottom</a>]
    [<a href="javascript:update()" class="js-update">Update</a>]
    [<label class="check"><input type="checkbox" class="js-autoupdate-checkbox">
     <span class="js-autoupdate">Auto</span></label>]
  </nav>
  <div class="thread-info">
    <span class="js-thread-replies" data-singular="Reply" data-plural="Replies">
      {{ thread_replies }} {{ thread_replies|pluralize('Reply', 'Replies') }}
    </span>
  </div>
</div>

{% include '_replies.html' %}

<div class="row threadinfo">
  <nav>
    [<a href="{{ url_for('board', board_id=board.id) }}">Return</a>]
    [<a href="#top">Top</a>]
    [<a href="javascript:update()" class="js-update">Update</a>]
    [<label class="check"><input type="checkbox" class="js-autoupdate-checkbox">
     <span class="js-autoupdate">Auto</span></label>]
  </nav>
  <div class="thread-info">
    <span class="js-thread-replies" data-singular="Reply" data-plural="Replies">
      {{ thread_replies }}
      {{ thread_replies|pluralize('Reply', 'Replies') }}
    </span>
  </div>
</div>

{% if thread_replies >= MAX_REPLIES %}
  <h4>Reply limit reached.</h4>
{% else %}
<form method="post" class="js-form"{% if board.allow_uploads %} enctype="multipart/form-data"{% endif %}>
  <h4><abbr>R</abbr>eply:</h4>
  <div class="error-message"></div>
  <textarea id="form-text" rows="6" cols="40" accesskey="r" tabindex="0" placeholder="Comment" required></textarea><br>
  <button type="submit" accesskey="s" tabindex="0">Po<abbr>s</abbr>t reply</button>
  {% if board.allow_uploads %}<input type="file" name="file" accesskey="f" tabindex="0"><br>{% endif %}
  <label class="small check">
    <input type="checkbox" id="form-encrypt"> Encrypt to mentioned posters.
  </label>
  <input type="hidden" name="data" id="form-data">
</form>
{% endif %}
{% endblock %}
