{% extends 'base.html' %}

{% block title %}/{{ board.id }}/ - {{ board.title }} No.{{ thread_id }}{% endblock %}

{% block meta %}{# Hide contents until script is ready. #}
<script>document.documentElement.className='not-ready2'</script>
<style>.not-ready{visibility:hidden}</style>
{{ super() }}

<meta name="robots" content="noarchive">
<link rel="canonical" href="{{ SITE_URL }}{{ url_for('thread', board_id=board.id, thread_id=thread_id) }}">
<meta id="meta-thread" name="thread-id" value="{{ board.id }}-{{ thread_id }}">
<meta id="meta-start" name="replies-start" value="{{ thread_replies }}">
{% endblock %}

{% macro threadinfo(bottom=False) %}
<div class="row threadinfo">
  <nav>
    [<a href="{{ url_for('board', board_id=board.id) }}">Return</a>]
    {% if bottom %}
    [<a href="#bottom">Bottom</a>]
    {% else %}
    [<a href="#top">Top</a>]
    {% endif %}
    [<a href="javascript:update()" class="js-update">Update</a>]
    [<label class="check"><input type="checkbox" class="js-autoupdate-checkbox">
     <span class="js-autoupdate">Auto</span></label>]
  </nav>
  <div class="thread-info">
    <span class="js-thread-replies" data-singular="Reply" data-plural="Replies">
      {{ thread_replies }} {{ thread_replies|pluralize('Reply', 'Replies') }}
    </span>
  </div>
</div>
{% endmacro %}

{% block content %}
<h3>Replies</h3>

{{ threadinfo() }}
{% include '_replies.html' %}
{{ threadinfo(bottom=True) }}

{% if thread_replies >= MAX_REPLIES %}
  <h4>Reply limit reached.</h4>
{% else %}
  {% set isThread = True %}
  {% include '_form.html' %}
{% endif %}

{% endblock %}
